#card-img{
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    padding: auto;
}

a:link {
    text-decoration: none;
}

#one_course{
    display: flex;
}

#course_info{
    padding: 1em;
}

.alert{
    z-index: 1;
   
}

@media only screen and (max-width: 767px){
    #one_course{
        display: block;
    }
    #img{
        min-height: 100px;
        max-height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
}

