.top-image{
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top:0;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 100%; 
    padding: 20px; 
  }
  

#frontImg{
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#course-info{
    padding-top: 2rem;
}

@media only screen and (max-width: 767px){
    #frontImg{
        min-height: 100px;
        max-height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }    
}